.md-margin{
    margin-left: 50%;
}

.mat-column-part {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 5% !important;
    width: 10% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;  
    word-break: break-word;  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }

  .mat-column-tee {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 5% !important;
    width: 10% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;  
    word-break: break-word;  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }

  .mat-column-startTime {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 5% !important;
    width: 10% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;  
    word-break: break-word;  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }

  .mat-column-endTime {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 5% !important;
    width: 10% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;  
    word-break: break-word;  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }

  .mat-column-interval {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 5% !important;
    width: 10% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;  
    word-break: break-word;  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }

  .mat-column-turnLength {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 5% !important;
    width: 10% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;  
    word-break: break-word;  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }

  .mat-column-maxHole {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 5% !important;
    width: 10% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;  
    word-break: break-word;  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }

  .mat-column-STT {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 5% !important;
    width: 5% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;  
    word-break: break-word;  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }

  .mat-button, .mat-icon-button, .mat-stroked-button, .mat-flat-button{
    padding: 0 !important;
    min-width: 30px !important;
  }

