/FE/App-Frontend/package-lock.json
/FE/App-Frontend/package-lock.json
/BE/App.BookingOnline.MobileApi/ApiMobileServer_log.txt
/BE/App.BookingOnline.MobileApi/ApiMobileServer_log.txt
/BE/App.BookingOnline.MobileApi/ApiMobileServer_log.txt
/Log-{Date}.txt
/LogFile/Log-{Date}.txt
/LogFile/Log-{DateTime.Now
/BE/App.BookingOnline.MobileApi/logs
/BE/App.BookingOnline.MobileApi/-{Date}.txt
/BE/IdentityServer/logs
/BE/App.BookingOnline.Api/logs
/doi-soat
/BE/App.BookingOnline.Api/Doi_xoat/Files/In/2022/12/INC_SB_BRG_20221218.xlsx
/BE/App.BookingOnline.Api/Doi_xoat/Files/In/2022/12/INC_SB_BRG_20221220.xlsx
/BE/App.BookingOnline.Api/Doi_xoat/Files/In/2022/12/INC_SB_BRG_20221221.xlsx
/BE/App.BookingOnline.Api/Doi_xoat/Files/Out/OUT_SB_BRG_20221218.xlsx
/BE/App.BookingOnline.Api/Doi_xoat/Files/Out/OUT_SB_BRG_20221220.xlsx
/BE/App.BookingOnline.Api/Doi_xoat/Files/In/2023/02
/BE/App.BookingOnline.Api/Doi_xoat/Files/Out
/BE/App.BookingOnline.Api/Doi_xoat/Files/In/2023/03/INC_SB_BRG_20230301.xlsx
/BE/App.BookingOnline.Api/Doi_xoat/Files/In/2023/03
/BE/App.BookingOnline.Api/Doi_xoat/Files/Transaction/In/2023/03/Book1.xlsx
/BE/App.BookingOnline.Api/Doi_xoat/Files/Transaction/In/2023/03
/BE/App.BookingOnline.Api/Doi_xoat/Files/In/2023/04
/BE/App.BookingOnline.Api/Doi_xoat/Files/Transaction/In/2023/04
/BE/App.BookingOnline.Api/Doi_xoat/Files/In/2023/05
