<div fxLayout="column" fxLayoutGap="5px" class="dialog-wrapper">
    <div fxLayout="row" class="dialog-header" fxLayoutAlign="start center">
        <mat-icon color="primary">label_important</mat-icon><span class="dialog-title">Change password</span>
    </div>
    <mat-divider></mat-divider>
    <div fxLayout="column" class="dialog-content">
        <form #form=ngForm>
            <div fxLayout="column">
                <mat-form-field>
                    <mat-label>Current password</mat-label>
                    <input matInput type="password" name="currentpassword" [(ngModel)]="changePassword.currentPassword" required>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>New password</mat-label>
                    <input matInput type="password" name="currentpassword" [(ngModel)]="changePassword.newPassword" required>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Retype new password</mat-label>
                    <input matInput type="password" name="currentpassword" [(ngModel)]="changePassword.retypeNewPassword" required>
                </mat-form-field>
            </div>
        </form>
    </div>
    <div fxLayout="column" class="dialog-footer">
        <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="end">
            <button mat-raised-button color="primary" (click)="save()" [disabled]="!form.valid">Save</button>
            <button mat-raised-button [mat-dialog-close]>Close</button>
        </div>
    </div>
</div>