<div fxLayout="column" fxLayoutGap="5px" class="page-wrapper mat-elevation-z2">
    <div fxLayout="row" class="page-header" fxLayoutAlign="start center">
        <mat-icon color="primary">label_important</mat-icon><span class="page-title">Role</span>
    </div>
    <mat-divider></mat-divider>
    <div fxLayout="column" class="page-filter" (keyup.enter)="search()">
        <div fxLayout="row" fxLayoutAlign=" center" fxLayoutGap="10px">
            <mat-form-field>
                <mat-label>{{'name' | translate}}</mat-label>
                <input matInput [(ngModel)]="filter.name">
            </mat-form-field>
            <button mat-raised-button color="primary" (click)="search()">{{'search' | translate}}</button>
            <button mat-raised-button color="primary" (click)="detailRole(null)">{{'add' | translate}}</button>
        </div>
    </div>
    <div fxLayout="column" class="page-content">
        <table mat-table [dataSource]="listRole">

            <ng-container matColumnDef="STT">
                <th mat-header-cell *matHeaderCellDef style="width: 50px;">#</th>
                <td mat-cell *matCellDef="let i = index;">
                    {{i + 1 + filter.pageIndex * filter.pageSize}}
                </td>
            </ng-container>

            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>{{'name' | translate}}</th>
                <td mat-cell *matCellDef="let item">{{item.displayName}}</td>
            </ng-container>

            <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef>{{'description' | translate}}</th>
                <td mat-cell *matCellDef="let item">{{item.description}}</td>
            </ng-container>

            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef>{{'status' | translate}}</th>
                <td mat-cell *matCellDef="let item">
                    <mat-icon *ngIf="item.isActive" color="primary">check_circle_outline</mat-icon>
                </td>
            </ng-container>

            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef style="width: 75px;">{{'action' | translate}}</th>
                <td mat-cell *matCellDef="let item">
                    <mat-icon color="primary" class="cursor-pointer" (click)="detailRole(item)">edit</mat-icon>
                    <mat-icon color="primary" class="cursor-pointer" *ngIf="!item.protected" (click)="deleteRole(item)">delete_outline
                    </mat-icon>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator (page)="pageIndexChange($event)"></mat-paginator>
    </div>
    <div fxLayout="column" class="page-footer"></div>
</div>