::ng-deep .mat-checkbox-checked .mat-checkbox-background,
.mat-checkbox-indeterminate .mat-checkbox-background {
    background-color: red !important;
}

::ng-deep .mat-checkbox-checkmark-path {
    stroke: white !important;
}

.selected-row {
    background-color: khaki;
}