<div fxLayout="column" fxLayoutGap="5px" class="page-wrapper mat-elevation-z2">
    <div fxLayout="row" class="page-header" fxLayoutAlign="start center">
      <mat-icon color="primary">label_important</mat-icon><span class="page-title">Danh sách đặt vé</span>
    </div>
    <mat-divider></mat-divider>
    <div fxLayout="column" class="page-filter" (keyup.enter)="search()">
      <div fxLayout="row" fxLayoutAlign=" center" fxLayoutGap="10px">
        <mat-form-field fxFlex="20">
          <mat-label>Họ và tên khách hàng</mat-label>
          <input matInput [(ngModel)]="filter.fullname">
        </mat-form-field>
        <mat-form-field fxFlex="20">
          <mat-label>Số điện thoại</mat-label>
          <input matInput [(ngModel)]="filter.phoneNumber">
        </mat-form-field>
        <mat-form-field fxFlex="20">
            <mat-label>Email</mat-label>
            <input matInput [(ngModel)]="filter.email">
        </mat-form-field>
        <mat-form-field fxFlex="15">
            <mat-label>{{'Organization' | translate}}</mat-label>
            <input matInput [formControl]="organizationSelectControl" [matAutocomplete]="autoOrganization" [readonly]="disabledOrgFilter" (ngModelChange)="changeOrganizationText()">
            <mat-icon matSuffix>keyboard_arrow_down</mat-icon>
            <mat-autocomplete autoActiveFirstOption #autoOrganization="matAutocomplete" [displayWith]="displayOrganization" 
              (optionSelected)="onSelectedOrganization($event)">
              <mat-option *ngFor="let u of  organizationFilteredOptions | async" [value]="u">
                {{u.name}}
              </mat-option>
            </mat-autocomplete>
        </mat-form-field>
        <mat-form-field fxFlex="15">
            <mat-label>{{'Course' | translate}}</mat-label>
            <input matInput [formControl]="courseSelectControl" [matAutocomplete]="autocourse" [readonly]="disabledCourseFilter"  (ngModelChange)="changeCourseText()">
            <mat-icon matSuffix>keyboard_arrow_down</mat-icon>
            <mat-autocomplete autoActiveFirstOption #autocourse="matAutocomplete" [displayWith]="displayCourse" 
              (optionSelected)="onSelectedCourse($event)">
              <mat-option *ngFor="let u of  courseFilteredOptions | async" [value]="u">
                {{u.name}}
              </mat-option>
            </mat-autocomplete>
        </mat-form-field>
      </div>
      <div fxLayout="row" fxLayoutAlign=" center" fxLayoutGap="10px">
          <mat-form-field>
            <mat-label>Mã đặt vé</mat-label>
            <input matInput [(ngModel)]="filter.bookingCode">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Teetime</mat-label>
            <input matInput [ngxTimepicker]="picker" [format]="24" [(ngModel)]="filter.teetime" >
            <ngx-material-timepicker [format]="24" #picker></ngx-material-timepicker>    
          </mat-form-field>
          <mat-form-field>
            <mat-label>Số lượng đặt</mat-label>
            <input matInput [(ngModel)]="filter.numberPlayers">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Trạng thái</mat-label>
            <mat-select placeholder="Select" [(ngModel)]="filter.status" name="element.status" #element.status="ngModel" >
              <mat-option [value]=""></mat-option>
              <mat-option [value]="itm.code" *ngFor="let itm of statusList" width ="inherit">{{itm.title}}</mat-option>
            </mat-select>
          </mat-form-field>  
          <mat-form-field fxFlex="8">
            <mat-label>Ngày tạo</mat-label>
            <input matInput [matDatepicker]="pickerdateCreated"  name="dateId" [(ngModel)]="filter.dateCreated">
            <mat-datepicker-toggle matSuffix [for]="pickerdateCreated"></mat-datepicker-toggle>
            <mat-datepicker #pickerdateCreated></mat-datepicker>
          </mat-form-field>
          <mat-form-field fxFlex="8">
            <mat-label>Ngày đặt</mat-label>
            <input matInput [matDatepicker]="pickerbookingDate"  name="dateId" [(ngModel)]="filter.bookingDate">
            <mat-datepicker-toggle matSuffix [for]="pickerbookingDate"></mat-datepicker-toggle>
            <mat-datepicker #pickerbookingDate></mat-datepicker>
          </mat-form-field>
          <button mat-raised-button color="primary" (click)="search()">{{'search' | translate}}</button>
      </div>
      <div fxLayout="row" fxLayoutAlign=" center" fxLayoutGap="10px">
        <button mat-raised-button color="warn" (click)="cancelBooking()">Hủy vé</button>        
      </div>
    </div>
    <div fxLayout="column" class="page-content">
      <table mat-table [dataSource]="listBooking">
  
        <ng-container matColumnDef="isActive">
          <th mat-header-cell *matHeaderCellDef ></th>
          <td mat-cell *matCellDef='let item' >
            <mat-checkbox name="isActive" color="primary" [(ngModel)]="item.isCancel" ></mat-checkbox>             
          </td>
        </ng-container>

        <ng-container matColumnDef="stt">
          <th mat-header-cell *matHeaderCellDef style="width: 50px;">#</th>
          <td mat-cell *matCellDef="let i = index;">
            {{i + 1 + filter.pageIndex * filter.pageSize}}
          </td>
        </ng-container>

      <ng-container matColumnDef="code">
        <th mat-header-cell *matHeaderCellDef >Mã đặt vé</th>
        <td mat-cell *matCellDef="let item"> 
          {{item.bookingCode}}
        </td>
      </ng-container>

        <ng-container matColumnDef="clientInfo">
          <th mat-header-cell *matHeaderCellDef >Thông tin khách hàng</th>
          <td mat-cell *matCellDef="let item"> 
            Họ tên: {{item.cardFullName}}<br/>
            Số điện thoại: {{item.cardMobilePhone}}<br/>
            Email: {{item.cardEmail}}<br/>
          </td>
        </ng-container>
        <ng-container matColumnDef="infoBook">
          <th mat-header-cell *matHeaderCellDef >Thông tin book </th>
          <td mat-cell *matCellDef='let item' >
            {{item.courseName}}<br/>
            Ngày: {{item.dateId | date: 'dd/MM/yyyy'}}<br/>
            Tee time: {{item.totalTeetimeDisplay}}<br/>
            Số lượng: {{item.countPlayers}}<br/>
          </td>
        </ng-container>
  
        <ng-container matColumnDef="orgName">
          <th mat-header-cell *matHeaderCellDef >Đơn vị</th>
          <td mat-cell *matCellDef='let item' >{{item.orgName}}</td>
        </ng-container>
  
        <ng-container matColumnDef="specService">
            <th mat-header-cell *matHeaderCellDef >Dịch vụ thêm</th>
            <td mat-cell *matCellDef='let item' >
              {{item.specialNameServices}}
            </td>
        </ng-container>

        <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef >Phi golf</th>
            <td mat-cell *matCellDef='let item' >             
              Ước tính: {{item.totalEstimateFee | number }} VND<br/>
              Đã thu: {{item.nonRefundedFee | number }} VND
            </td>
        </ng-container>
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef >Trạng thái</th>
          <td mat-cell *matCellDef="let item" width="50px">
            {{item.statusName}}
          </td>
        </ng-container>
        <ng-container matColumnDef="createdDate">
          <th mat-header-cell *matHeaderCellDef >Thời gian tạo</th>
          <td mat-cell *matCellDef="let item">
            {{item.createdDate | date: 'dd/MM/yyyy hh:mm a'}}
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        
      </table>
      <mat-paginator (page)="pageIndexChange($event)"></mat-paginator>
    </div>
    <div fxLayout="column" class="page-footer"></div>
  </div>
  