<mat-toolbar class="mat-elevation-z4">
    <button class="cursor-pointer no-border mat-elevation-z1" (click)="sidenav.toggle()">
        <i class="material-icons app-toolbar-menu">menu</i>
    </button>
    <span class="full-width" style="text-align: center;" >  <a routerLink="/"></a> </span> 
    <!-- <cdk-toolbar-notification [notifications]="toolbarHelpers?.notifications"></cdk-toolbar-notification> -->
    <!-- <app-language-menu></app-language-menu> -->
    <app-user-menu></app-user-menu>
</mat-toolbar>