.role-warpper {
    overflow: auto;
    max-height: calc(100vh - 200px);
    min-height: 160px;
}

/* result table */
.result-table {
    width: 100%;
    border-collapse: collapse;
}

.result-table,
.result-table th,
.result-table td {
    border: 1px solid black;
}

.result-table th {
    text-align: center;
    padding: 2px 5px;
}

.result-table td {
    padding: 2px 5px;
}

.table-button .mat-icon-button {
    width: 24px;
    height: 24px;
}

.table-button .mat-icon {
    vertical-align: baseline !important;
}
/* end result table */