<div fxLayout="column" fxLayoutGap="10px" class="dialog-wrapper">
    <div fxLayout="row" class="dialog-header" fxLayoutAlign="start center">
        <mat-icon color="primary">label_important</mat-icon><span class="dialog-title">User detail</span>
    </div>
    <mat-divider></mat-divider>
    <div fxLayout="column" class="dialog-content">
        <form #form=ngForm>
            <div fxLayout="row" fxLayoutGap="20px" style="min-height: 50vh;">
                <div fxFlex="50">
                    <div fxLayout="column">
                        <mat-form-field>
                            <mat-label>User name</mat-label>
                            <input matInput name="name" [(ngModel)]="user.userName" required [disabled]="user.id">
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Full name</mat-label>
                            <input matInput name="icon" [(ngModel)]="user.fullName" required>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Email</mat-label>
                            <input matInput name="email" [(ngModel)]="user.email" required [disabled]="user.id">
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Password</mat-label>
                            <input matInput name="password" type="password" [(ngModel)]="user.password" required [disabled]="!user.changePasswrod">
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Organization</mat-label>
                            <input matInput [formControl]="organizationSelectControl" required [matAutocomplete]="autoOrganization" (ngModelChange)="changeOrganizationText()">
                            <input matInput name="organizationId" required [hidden]="true" [(ngModel)]="user.c_Org_Id"> 
                            <mat-autocomplete autoActiveFirstOption #autoOrganization="matAutocomplete" [displayWith]="displayOrganization" 
                              (optionSelected)="onSelectedOrganization($event)">
                              <mat-option *ngFor="let u of  organizationFilteredOptions | async" [value]="u">
                                {{u.name}}
                              </mat-option>
                            </mat-autocomplete>
                          </mat-form-field>
                        <div fxFlex="row" fxLayoutGap="20px">
                            <mat-checkbox name="isActive" color="primary" [(ngModel)]="user.isActive">Active</mat-checkbox>
                            <mat-checkbox name="changePassword" color="primary" [(ngModel)]="user.changePasswrod" [disabled]="!user.id">Change Password</mat-checkbox>
                        </div>
                    </div>
                </div>
                <div fxFlex="50">
                    <mat-label>Phân quyền Role</mat-label>
                    <mat-divider></mat-divider>
                    <div fxLayout="column" fxLayoutGap="5px" class="role-warpper">
                        <mat-checkbox name="userRole" *ngFor="let userRole of user.roles" color="primary"
                            [checked]="userRole.hasRole" (change)="userRole.hasRole=$event.checked">
                            {{userRole.displayName}}
                        </mat-checkbox>
                    </div>
                </div>
            </div>
            <mat-divider></mat-divider>
            
          
        </form>
    </div>
    <div fxLayout="column" class="dialog-footer">
        <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="end">
            <button mat-raised-button color="primary" (click)="addOrEdit(user)" [disabled]="!form.valid">Save</button>
            <button mat-raised-button [mat-dialog-close]>Close</button>
        </div>
    </div>
</div>